.set-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.xfas {
  background-image: url(../img/co-seller.png);
}

.e_office {
  background-image: url(../img/co-seller.png);
}

.pttor {
  background-image: url(../img/co-seller.png);
}

.co-seller {
  background-image: url(../img/co-seller.png);
}

.bot {
  background-image: url(../img/BOT/3.\ BOT_Main.png);
}

.corpdevice {
  background-image: url(../img/corpdevice.png);
}

.coseller {
  background-image: url(../img/coseller.png);
}

.kasetworld {
  background-image: url(../img/kasetworld.png);
}

.manage_language {
  background-image: url(../img/manage_language.png);
}

.bpskill {
  background-image: url(../img/bpskill.png);
}

.manage_web {
  background-image: url(../img/manage_web.png);
}

.plagiarism {
  background-image: url(../img/plagiarism.png);
}